<mat-toolbar class="header">
  <mat-toolbar-row>
    <span [ngClass]="{'title': this.resizeService.mobileScreen === false, 'mobile-title': this.resizeService.mobileScreen === true}">
      <h1>
        Leon Chow
      </h1>
    </span>
    <span>
      <button mat-icon-button>
        <a href="../../assets/files/Leon_Chow_Resume.pdf" target="_blank">
          <mat-icon class="pdf-icon"> picture_as_pdf </mat-icon>
        </a>
      </button>
      <button mat-icon-button>
        <a href="https://github.com/leon-chow" target="_blank">
          <img src="../../assets/icons/GitHub-Mark-Light-32px.png">
        </a>
      </button>
      <button mat-icon-button>
        <a href="https://www.linkedin.com/in/leon-chow/" target="_blank">
          <img class="icon" src="../../assets/icons/linkedin-3-xxl.png">
        </a>
      </button>
      <!-- <button *ngIf="mobileScreen" mat-icon-button>
        <mat-icon> reorder </mat-icon>
      </button> -->
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar *ngIf="isSticky" class="float-header"
[ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}"
[@enterAnimation]>
  <mat-toolbar-row>
    <span [ngClass]="{'title': this.resizeService.mobileScreen === false, 'mobile-title': this.resizeService.mobileScreen === true}">
      <h1>
        Leon Chow
      </h1>
    </span>
    <span>
      <button mat-icon-button>
        <a href="../../assets/files/Leon_Chow_Resume.pdf" target="_blank">
          <mat-icon class="pdf-icon"> picture_as_pdf </mat-icon>
        </a>
      </button>
      <button mat-icon-button>
        <a href="https://github.com/leon-chow" target="_blank">
          <img src="../../assets/icons/GitHub-Mark-Light-32px.png">
        </a>
      </button>
      <button mat-icon-button>
        <a href="https://www.linkedin.com/in/leon-chow/" target="_blank">
          <img class="icon" src="../../assets/icons/linkedin-3-xxl.png">
        </a>
      </button>
      <!-- <button *ngIf="mobileScreen" mat-icon-button>
        <mat-icon> reorder </mat-icon>
      </button> -->
    </span>
  </mat-toolbar-row>
</mat-toolbar>
