<h1> Welcome to my personal website! </h1>
<p>
  Hello, my name is Leon Chow and I am currently a 4th year computer science student at the Ontario Tech University (formerly UOIT). <br>
  I am seeking professional experience in web/mobile development and love to learn new languages and technologies. Below, you can <br>
  find a list of projects that I am currently working on or have completed in the past. In the past, I have been featured in a co-op blog <br>
  from the university and I have written a testiomonial on my past co-op experience. If you wish to contact me, you can fill out the form <br>
  below, or you can email me at leonwl.chow@gmail.com.
</p>
<img class="img" src="../../assets/images/me_2.jpg" alt="Me">
