<div [ngClass]="{'about': this.resizeService.mobileScreen === false, 'about-mobile': this.resizeService.mobileScreen === true}">
  <h1> About Me </h1>
  <img class="img" src="../../assets/images/me.jpg" alt="Me"> <br> <br>
  <p>
    Hello! My name is Leon Chow and I am full-stack developer with 3.5 years of experience in the field. I graduated with a degree in computer science at Ontario Tech University (formerly UOIT).
    I am always seeking to broaden my professional experience in web/mobile development and enjoy learning new languages and technologies. Below, you can see a list
    of skills that I have acquired, as well as a few links about me, mostly from the university. If you wish to contact me, you can fill out the form at the
    bottom of the page, or you can email me at <u> leonwl.chow@gmail.com. </u>
  </p>
  <h2> Technical Skills Overview </h2>
  <table mat-table [dataSource]="dataSource" *ngIf="!this.resizeService.mobileScreen" class="mat-elevation-z8">
    <!-- language Column -->
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef> Languages </th>
      <td mat-cell *matCellDef="let skillsOverview"> {{skillsOverview.language}} </td>
    </ng-container>

    <!-- framework Column -->
    <ng-container matColumnDef="framework">
      <th mat-header-cell *matHeaderCellDef> Backend </th>
      <td mat-cell *matCellDef="let skillsOverview"> {{skillsOverview.framework}} </td>
    </ng-container>

    <!-- Editors/IDEs & Version Control Column -->
    <ng-container matColumnDef="editor">
      <th mat-header-cell *matHeaderCellDef> Cloud </th>
      <td mat-cell *matCellDef="let skillsOverview"> {{skillsOverview.editor}} </td>
    </ng-container>
    <ng-container matColumnDef="database">
      <th mat-header-cell *matHeaderCellDef> Other </th>
      <td mat-cell *matCellDef="let skillsOverview"> {{skillsOverview.database}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let row; columns: cols;"></tr>
  </table>
  <table class="mobile-table" *ngIf="this.resizeService.mobileScreen">
    <tr>
      <th> Frontend </th>
      <th> Backend </th>
      <th> Cloud </th>
      <th> Other </th>
    </tr>
    <tr>
      <td> React </td>
    </tr>
    <tr>
      <td> Vue </td>
      <td> NodeJS </td>
      <td> Java </td>
    </tr>
    <tr>
      <td> Angular </td>
      <td> AWS </td>
      <td> GCP </td>
      <td> Jenkins </td>
      <td> DynamoDB </td>
      <td> S3 </td>
    </tr>
    <tr>
      <td> HTML/CSS </td>
      <td> SQL/NoSQL </td>
      <td> CI/CD </td>
    </tr>
    <tr>
      <td> Material UI </td>
      <td> Python </td>
    </tr>
    <tr>
      <td> Bootstrap </td>
      <td> PHP </td>
    </tr>
    <tr>
      <td> NextJS </td>
      <td> C++ </td>
    </tr>
    <tr>
      <td> JavaScript/TypeScript </td>
    </tr>
  </table>
  <h2> Links about me: </h2>
  <ul>
    <li>
      <a href="https://blog.ontariotechu.ca/co-ops-in-the-faculty-of-science" target="_blank"> Co-op Blog </a>
    </li>
    <li>
      <a href="https://science.ontariotechu.ca/undergraduate/co-op%20programs/student-testimonials/computer-science/leon-chow.php" target="_blank"> Co-op Testimonial </a>
    </li>
    <li>
      <a href="https://www.clarifai.com/blog/clarifai-featured-hack-helping-small-businesses-say-hai-to-their-customers" target="_blank"> Intuit SmallBiz Hack Clarifai Blog </a>
    </li>
  </ul>
</div>
