@import "../global_styles.scss";

.about {
  background-color: $main-color;
  color: $main-font-color;
  margin: 20px;
  padding: 10px;
  box-shadow: 1px 2px 8px #888888;
}

.about-mobile {
  background-color: $main-color;
  color: $main-font-color;
  padding: 10px;
  box-shadow: 1px 2px 8px #888888;
}

.grid-tile {
  text-align: left;
}

.img {
  width: 25%;
}

ul {
  list-style-type: none;
  font-size: 16px;
  padding-left: 0px;
}

a {
  color: $main-font-color;
  text-decoration: none;
}

a:hover {
  color: $main-background-color;
}

h1 {
  font-size: 32px;
  font-family: $main-font;
}

h2 {
  font-family: $main-font;
}

h3 {
  font-weight: bold;
}

.mobile-table {
  margin: 10px;
}

table {
  width: 75%;
  margin: 10px;
}

th {
  text-align: left;
  text-overflow: ellipsis;
}

td {
  text-overflow: ellipsis;
}
