a {
  text-decoration: none;
}

.links {
  text-align: center;
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}

.link {
  margin: 20px;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.link:hover {
  background-color: #f2f2f2;
}

