@import "../global_styles.scss";

button {
  background-color: $main-color;
  border: 1px solid white;
}

a {
  text-decoration: none;
  color: $main-font-color;
}

.links {
  text-align: center;
  margin-top: 3rem;
  font-size: 1rem;
  padding: 1rem;
}

.link {
  margin: 20px;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.link:hover {
  background-color: $main-background-color;
}

