<div class="projects">
  <h2> Personal Projects </h2>
  <mat-grid-list cols="2" rowHeight="52rem" rowWidth="3rem">
    <mat-grid-tile>
      <div>
        <h2>
          University Companion App
          <button mat-stroked-button class="button">
            <a href="https://github.com/leon-chow/otu-companion" target="_blank">
              <img class="icon" src="../../assets/icons/GitHub-Mark-32px.png">
            </a>
          </button>
        </h2>
        <img class="img" src="../../assets/images/otu_companion_demo.gif">
        <p> Skills leveraged: Dart | Flutter | Firebase </p>
      </div>
     </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <h2>
          Hobby-themed Minesweeper (WIP)
          <button mat-stroked-button class="button">
            <a href="https://github.com/leon-chow/fatesweeper2" target="_blank">
              <img class="icon" src="../../assets/icons/GitHub-Mark-32px.png">
            </a>
          </button>
        </h2>
        <img class="img" src="../../assets/images/hobby_minesweeper.png">
        <p>
          Skills leveraged: Dart | Flutter
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <h2>
          Mock Auction System
          <button mat-stroked-button class="button">
            <a href="https://github.com/leon-chow/sqa-backend" target="_blank">
              <img class="icon" src="../../assets/icons/GitHub-Mark-32px.png">
            </a>
          </button>
        </h2>
        <img class="img" src="../../assets/images/sqa_mock_auction_system_daily_script.png">
        <p> Skills leveraged: C++ | Java | Shell | JUnit </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <h2>
          More coming soon...
        </h2>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
