<div [ngClass]="{'projects': this.resizeService.mobileScreen === false, 'projects-mobile': this.resizeService.mobileScreen === true}">
  <h1> Personal Projects </h1>
  <mat-grid-list [cols]="cols" rowHeight="52rem" rowWidth="3rem">
    <mat-grid-tile>
      <div>
        <h2>
          University Companion App
          <button mat-stroked-button class="button">
            <a href="https://github.com/leon-chow/otu-companion" target="_blank">
              <img class="icon" src="../../assets/icons/GitHub-Mark-Light-32px.png">
            </a>
          </button>
        </h2>
        <img class="img" src="../../assets/images/otu_companion_demo.gif">
        <p> Skills leveraged: Dart | Flutter | Firebase </p>
      </div>
     </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <h2>
          TCG Deck Builder (WIP)
        </h2>
        <video muted autoplay width="700px" height="500px" controls src="../../assets/images/tcg_deck_builder_demo.mp4"> </video>
        <p>
          Skills leveraged: React | NextJS | Material UI
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <h2>
          Mock Auction System
          <button mat-stroked-button class="button">
            <a href="https://github.com/leon-chow/sqa-backend" target="_blank">
              <img class="icon" src="../../assets/icons/GitHub-Mark-Light-32px.png">
            </a>
          </button>
        </h2>
        <img class="img" src="../../assets/images/sqa_mock_auction_system_daily_script.png">
        <p> Skills leveraged: C++ | Java | Shell | JUnit </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <h2>
          More coming soon...
        </h2>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
