<div>
  <mat-grid-list cols="2" rowHeight="800px" rowWidth="50px">
    <mat-grid-tile>
      <div>
        <h2>
          University Companion App
          <button mat-button>
            <a href="https://github.com/leon-chow" target="_blank">
              <img src="../../assets/icons/GitHub-Mark-32px.png">
            </a>
          </button>
        </h2>
        <img src="../../assets/images/otu_companion_demo.gif">
        <p> Skills leveraged: Dart | Flutter | Firebase | Python </p>
      </div>
     </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <h2>
          Mock Auction System
          <button mat-button>
            <a href="https://github.com/leon-chow/sqa-backend" target="_blank">
              <img src="../../assets/icons/GitHub-Mark-32px.png">
            </a>
          </button>
        </h2>
        <!-- <img src="../../assets/images/sqa_mock_auction_system_daily_script.png"> -->
        <p> Skills leveraged: C++ | Java | Shell | JUnit </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <h2>
          Hobby-themed Minesweeper
          <button mat-button>
            <a href="https://github.com/leon-chow/fatesweeper2" target="_blank">
              <img src="../../assets/icons/GitHub-Mark-32px.png">
            </a>
          </button>
        </h2>
        <p>
          Skills leveraged: Dart | Flutter
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
