<div class="contact-form">
  <h1>
    Contact Me!
  </h1>
  <p> Please fill out the form below to contact me and I will try to reach back within 3 business days. </p>
  <form #contactForm="ngForm" (ngSubmit)="submitForm()">
    <div class="form-container">
      <mat-form-field #name required>
        <mat-label>Name</mat-label>
        <input required type="text" id="name" [(ngModel)]="form.name" name="name" #name="ngModel" matInput>
      </mat-form-field> <br>
      <mat-form-field>
        <mat-label>Message </mat-label>
        <textarea required [(ngModel)]="form.message" name="message" matInput rows="5" #message="ngModel" cols="40"> </textarea>
      </mat-form-field> <br>
      <button class="button" type="submit" [disabled]="!contactForm.form.valid" mat-raised-button> Submit </button>
    </div>
  </form>
</div>
