<div class="contact-form" align="center">
  <h1>
    Contact Me!
  </h1>
  <p> Please fill out the form below to contact me and I will try to reach back within 3 business days. </p>
  <form #contactForm="ngForm" (ngSubmit)="submitForm()">
    <div class="form-container">
      <mat-form-field #name appearance="fill" required>
        <mat-label>Name</mat-label>
        <input type="text" id="name" [(ngModel)]="form.name" name="name" #name="ngModel" matInput>
      </mat-form-field> <br>
      <mat-form-field appearance="fill">
        <mat-label>Email </mat-label>
        <input type="text" id="email" [(ngModel)]="form.email" name="email" #email="ngModel" matInput>
      </mat-form-field> <br>
      <mat-form-field appearance="fill">
        <mat-label>Message </mat-label>
        <textarea [(ngModel)]="form.message" name="message" matInput rows="5" #message="ngModel" cols="40"> </textarea>
      </mat-form-field> <br>
      <div (click)="submitForm()" mat-raised-button> Submit </div>
    </div>
  </form>
</div>
