@import "../global_styles.scss";

.drawer {
  width: auto;
  height: auto;
  background-color: $main-background-color;
}

.mat-drawer {
  position: fixed;
  margin-top: 4rem;
  background-color: $main-color;
}

.hero-image {
  width: 97.6%;
  box-shadow: 1px 2px 8px #888888;
}

.hero-div {
  position: relative;
  width: auto;
  height: 100%;
  text-align: center;
}

.hero-text, .mobile-hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px black;
  line-height: normal;
}

.mobile-hero-text {
  font-size: 32px;
}
