.drawer {
  width: auto;
  height: auto;
  background-color: white;
}

.mat-drawer {
  position: fixed;
  margin-top: 4.1rem;
  background-color: #D4F1F4;
}

.hero-image {
  width: 98%;
}

.hero-div {
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
}

.hero-text, .mobile-hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: black;
  text-shadow: 1px 1px white;
}

.mobile-hero-text {
  font-size: 25px;
}
