<div class="drawer">
  <mat-drawer-container autosize class="drawer">
    <mat-drawer class="side-drawer" *ngIf="!mobileScreen" mode="side" opened="!mobileScreen">
      <app-navbar> </app-navbar>
    </mat-drawer>
    <mat-drawer-content>
      <div align="center">
        <div class="hero-div">
          <div [ngClass]="{'hero-text': mobileScreen === false, 'mobile-hero-text': mobileScreen === true}"> Welcome to my Website! </div>
          <img class="hero-image" src="../../assets/images/night_sky.jpg">
        </div>
        <app-projects [attr.id]="links[1]"> </app-projects>
        <app-about [attr.id]="links[0]"> </app-about>
        <app-contact [attr.id]="links[2]"> </app-contact>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
